# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.BakeryManagementSystem.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ABD'MATIN\Desktop\BakeryManagementSystem\.idea\.idea.BakeryManagementSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
