@{
    ViewData["Title"] = "Home Page";
}


<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div>

            <div class="page-body">

                    <div class="card">
                        <div class="card-header">
                            <h4>Stock</h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>ProductName</th>
                                        <th>ProductCategory</th>
                                        <th>Detail</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
